<section class="edit-member-section">
  <h1 mat-dialog-title>Editar miembro</h1>
  <div mat-dialog-content>
    <form class="edit-member-form" [formGroup]="form" (ngSubmit)="submit()">
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="submitted && form.get('name')?.errors?.['required']">Campo obligatorio</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Apellido</mat-label>
        <input matInput formControlName="surname">
        <mat-error *ngIf="submitted && form.get('surname')?.errors?.['required']">Campo obligatorio</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Alias</mat-label>
        <input matInput formControlName="alias">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Teléfono</mat-label>
        <input matInput formControlName="phone">
        <mat-error *ngIf="submitted && form.get('phone')?.errors?.['required']">Campo obligatorio</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Capitanías</mat-label>
        <input matInput type="number" formControlName="nCaptaincies">
        <mat-error *ngIf="submitted && form.get('nCaptaincies')?.errors?.['required']">Campo obligatorio</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Rol</mat-label>
        <mat-select formControlName="role">
          <mat-option value="USER">Usuario</mat-option>
          <mat-option value="ADMIN">Adminsitrador</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="dialog-action-buttons" mat-dialog-actions>
        <button mat-button mat-dialog-close>Cancelar</button>
        <button mat-button type="submit">Guardar</button>
      </div>
    </form>
  </div>
</section>
