.balance-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px
}

.movement-title-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.movement-table-card{
  padding: 20px;
}
