<section class="balance-section">
  <section *ngIf="isLoading$ | async">
    <mat-spinner></mat-spinner>
  </section>
  <section *ngIf="!(isLoading$ | async)" class="mat-elevation-z8 movement-table-card">
    <section class="movement-title-section">
      <h2>Balance</h2>
    </section>
    <section class="filters">
      <mat-form-field>
        <mat-label>Jugadores</mat-label>
        <mat-select [(value)]="memberSelected" (valueChange)="selectChangeEvent()">
          <mat-option></mat-option>
          <mat-option *ngFor="let member of members$ | async" [value]="member.id">
            {{member.name + " " + member.surname}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Buscar</mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input matInput type="search" placeholder="Buscar por texto" [(ngModel)]="filter" (input)="filterChangeEvent()">
      </mat-form-field>
    </section>
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="memberName">
        <th mat-header-cell *matHeaderCellDef> Miembro</th>
        <td mat-cell *matCellDef="let movement"> {{movement.memberName}}</td>
      </ng-container>
      <ng-container matColumnDef="createdOn">
        <th mat-header-cell *matHeaderCellDef> Fecha</th>
        <td mat-cell *matCellDef="let movement"> {{movement.createdOn | date: 'dd/MM/yy'}}</td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Tipo</th>
        <td mat-cell *matCellDef="let movement"> {{movement.type == MovementType.EXPENSE ? 'Gasto' : 'Ingreso'}} </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Descripción</th>
        <td mat-cell *matCellDef="let movement"> {{movement.description}} </td>
      </ng-container>
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Cantidad</th>
        <td mat-cell *matCellDef="let movement"> {{movement.amount}}€</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
    <mat-paginator
      (page)="pageChangeEvent($event)"
      [length]="totalRecords"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      [pageSizeOptions]="[10, 20, 30]"
      showFirstLastButtons>
    </mat-paginator>
  </section>
</section>
