<section class="rules-section">
  <section class="rules-title-section"><h1>Normas de la peña Km/h</h1></section>
  <ol class="list-rules">
    <li>La hora de llegada será las <strong>20.30 horas</strong> , teniendo que firmar el acta del partido antes de
      dicha hora. Se abonará
      1€ por llegar tarde o por no firmar. Si al comienzo del partido no está el jugador en el campo, tendrá la
      correspondiente multa de 3€ aunque venga a su hora y haya firmado el acta.
      Todo jugador que no pueda llegar antes de la 20.30 horas por diferentes motivos, tiene dos opciones:
      <ol type="A">
        <li>Abonar una cuota de 10€ al año al principio de la temporada para poder llegar tarde.</li>
        <li>Arriesgarse y pagar multa por cada día que llegue tarde.</li>
      </ol>
    </li>
    <li>El miembro que durante <strong>cuatro semanas seguidas</strong> no comunique al presidente directamente y solo a
      él, su no
      comparecencia a los partidos, <strong>QUEDARÁ AUTOMATICAMENTE FUERA DE LA PEÑA</strong>, debiendo el presidente
      comunicarlo a todos
      los miembros que se encuentren ese día en el campo, y entre todos comunicárselo a la persona directamente.
    </li>
    <li>Si alguien se encuentra enfermo como para estar sin jugar <strong>más de un mes</strong> , debe comunicar su
      situación al
      presidente para que pueda darle la baja temporal. Para todas las demás enfermedades que duren menos de un mes se
      abonará
      1€ por faltar al partido.
    </li>
    <li>Todo miembro debe confirmar su alta o baja para cada partido. El plazo para cada jornada acaba el Domingo a las
      23:59.
      Según cuando se comunique habrá tres tipos diferentes de sanción:
      <ul>
        <li>Avisar el domingo antes de las 23:59 horas tendrá una sancion de 1€ sea cual sea la causa.</li>
        <li>Avisar entre el plazo anterior y la hora de partido sera sancionado con 3€.</li>
        <li>No avisar será sancionado con 5€.</li>
      </ul>
    </li>
    <li>El abono de las multas se realizará <strong>la última semana de cada mes</strong>, de no ser así, el miembro no
      podrá jugar hasta que esté al corriente de pago (en casos especiales de problemas de pagos se deberá tratar con
      el presidente).
    </li>
    <li>Los miembros nuevos deberán jugar <strong>cuatro partidos a prueba</strong>, después de los cuales la peña
      decidirá la aceptación del aspirante.
    </li>
    <li>El jugador que no lleve <strong>la equipación al completo (pantalón, camiseta y carpín)</strong> será sancionado
      con 1€.
    </li>
    <li>Abandonar el partido de manera injustificada (enfado , no me gustan los equipos , etc…) sera motivo de sanción
      deportiva y económica, debiendo cumplir al menos 1 partido de sanción siempre estando presente para firmar dicho
      día, y además teniendo que abonar una multa de 10€. Si falta algún portero podrá cumplir la sanción jugando de
      portero todo el partido, sin que le compute.
    </li>
    <li>
      Los pagos de las cuotas anules serán :
      <ul>
        <li>Última semana de septiembre ---------- 40€</li>
        <li>Segunda semana de diciembre --------- 30€</li>
      </ul>
    </li>
    <li>El presidente realizará la convocatoria para cada partido asignando jugadores a cada equipo. Para cada partido,
      el presidente o la persona a la que el presidente haya delegado la función en caso de ausencia, designará a un
      capitan por equipo. La elección será aleatoria de entre los componentes del equipo que menos veces hayan sido
      capitanes. El capitan es el responsalbe de las alineaciones (formación y posición de cada jugador en el
      campo). Todos los miembros deben pasar por el cargo de capitán, por lo que no se podrá repetir como tal si hay
      otro jugador de su equipo con menos capitanías. Cada jugador deberá jugar en la demarcación que le asigne su
      capitán. Si algún jugador quiere jugar en una demarcación diferente a la que juega habitualmente, deberá decirselo
      a su capitán, antes de la remodelación de los equipos. Después de estar confeccionados los equipos, no se admite
      modificación alguna salvo que el capitán asi lo entienda. No obedecer al capitan repecto a las alineaciones será
      sancionado desde 1€ hasta la expulsión de la peña según la gravedad a criterio del presidente.
    </li>
  </ol>
  <section class="note">Recordamos desde la presidencia que la norma más importante es <span>EL SENTIDO COMÚN</span>
  </section>
</section>
