<section class="rules-section">
  <section class="rules-title-section"><h1>Normas de la peña Km/h</h1></section>
  <ol class="list-rules">
    <li>
      La hora estipulada de llegada será <strong>antes las 20.30 horas</strong>,
      teniendo que firmar el acta del partido antes de dicha hora.
      <p></p>
      <p>Se abonará 1€ por llegar tarde o por no firmar.</p>
      <p></p>
      <p>
        Si al comienzo del partido no está el jugador en el campo, tendrá la
        correspondiente multa de 3€ aunque venga a su hora y haya firmado el
        acta.
      </p>
    </li>
    <li>
      Todo jugador que no pueda llegar antes de la 20.30 horas por diferentes
      motivos, tiene dos opciones:
      <ol type="A">
        <li>
          Abonar una cuota de 10€ al año al principio de la temporada para poder
          llegar tarde.
        </li>
        <li>Arriesgarse y pagar una multa por cada día que llegue tarde.</li>
      </ol>
    </li>
    <li>
      El miembro que durante <strong>cuatro semanas seguidas</strong> no
      comunique al presidente directamente y solo a él, su no comparecencia a
      los partidos, <strong>QUEDARÁ AUTOMATICAMENTE FUERA DE LA PEÑA</strong>,
      debiendo el presidente comunicarlo a todos los miembros que se encuentren
      ese día en el campo, y entre todos comunicárselo a la persona
      directamente.
    </li>
    <li>
      Si un peñista se encuentra enfermo o lesionado como para estar sin jugar
      <strong>más de un mes</strong>, debe comunicar su situación al presidente
      para que pueda darle la baja temporal.
      <p></p>
      <p>
        Para todas las demás enfermedades que duren <strong>menos</strong> de un
        mes se abonará 1€ por faltar al partido.
      </p>
    </li>
    <li>
      Todo miembro debe confirmar su alta o baja para cada partido. El plazo
      para cada jornada acaba el <strong>domingo a las 23:59</strong>. Según
      cuando se comunique habrá tres tipos diferentes de sanción:
      <ol>
        <li>
          Avisar de la no asistencia al partido el domingo antes de las 23:59
          horas tendrá una sanción de 1€ sea cual sea el motivo.
        </li>
        <li>
          Avisar entre el tiempo del plazo anterior (domingo 23:59) y la hora
          del partido será sancionado con 3€.
        </li>
        <li>No avisar será sancionado con 5€.</li>
      </ol>
    </li>
    <li>
      El abono de las multas se realizará
      <strong>la última semana de cada mes</strong>, de no ser así, el miembro
      no podrá jugar hasta que esté al corriente de pago, en casos especiales de
      problemas de pagos se deberá tratar con el presidente.
    </li>
    <li>
      Los miembros nuevos deberán jugar
      <strong>cuatro partidos a prueba</strong>, después de los cuales la peña
      decidirá la aceptación o denegación del aspirante en cuestión.
    </li>
    <li>
      El jugador que no lleve
      <strong>la equipación al completo (pantalón y camiseta)</strong>
      será sancionado con 1€ por cada partido que no presente dicha equipación.
    </li>
    <li>
      Abandonar el partido de manera injustificada será motivo de sanción
      deportiva y económica, debiendo cumplir, al menos 1 partido de sanción,
      siempre estando presente para firmar dicho día, y además teniendo que
      abonar una multa de 10€.
      <p></p>
      <p>
        Si falta algún portero podrá cumplir la sanción jugando de portero todo
        el partido, sin que le compute.
      </p>
    </li>
    <li>
      Aquel peñista, que realice actos de agresión, amenazas, burlas, insultos o
      cualquier acto de discriminación o utilice un vocabulario degradante hacía
      otro peñista será:
      <ol type="A">
        <li>
          <strong>Primera vez:</strong> Advertido por el presidente y con una
          multa de 10€
        </li>
        <li>
          <strong>Segunda vez:</strong> Sancionado con dos partidos sin jugar,
          pero con asistencia al campo obligatoria en dichos partidos y una
          multa de 20€
        </li>
        <li>
          <strong>Tercera vez:</strong> Se realizará una votación entre todos
          los peñistas y se valorará la situación del peñista, pudiendo ser
          expulsado de la peña si obtiene la mayoría simple de todos los
          peñistas (mitad más uno)..
        </li>
      </ol>
    </li>
    <li>
      Los pagos de las cuotas anules serán:
      <ol>
        <li>
          <strong
            >Última semana de septiembre con un pago mínimo de 40€.</strong
          >
        </li>
        <li>
          <strong>Segunda semana de diciembre 30€ o el restante.</strong>
        </li>
      </ol>
    </li>
    <li>
      El presidente realizará la convocatoria para cada partido, una vez
      finalizada esta, asignará a cada peñista su equipo.
      <p></p>
      <p>
        Para cada partido, el presidente o la persona a la que el presidente
        haya delegado la función en caso de ausencia, designará a un capitán por
        equipo.
      </p>
      <p>
        La elección será aleatoria de entre los componentes del equipo que menos
        veces hayan sido capitanes.
      </p>
      <p>
        <strong
          >El capitán es el responsable de las alineaciones (formación y
          posición de cada jugador en el campo)</strong
        >
        e incluso de los posibles cambios, si fueran necesarios, con respecto a
        los equipos, por un posible desequilibrio entre ellos.
      </p>
      <p>
        Todos los miembros deben pasar por el cargo de capitán, por lo que no se
        podrá repetir como tal si hay otro jugador de su equipo con menos
        capitanías.
      </p>
      <p>
        Si algún jugador quiere jugar en una demarcación diferente a la que
        juega habitualmente, deberá comunicarlo a su capitán con anterioridad al
        comienzo del partido.
      </p>
      <p>
        Una vez confeccionados los equipos, no se admite modificación alguna
        salvo que el capitán así lo entienda. No obedecer al capitán respecto a
        las alineaciones será sancionado desde 1€ hasta la expulsión de la peña
        según la gravedad a criterio del presidente.
      </p>
    </li>
    <li>
      <p>
        Una vez finalizada la temporada se elegirá al presidente entre los
        peñistas elegibles, siendo elegido el peñista con el mayor número de
        votos a favor.
      </p>
      <p>
        El peñista que obtenga la segunda mayoría de votos pasará a ser parte de
        la Vicepresidencia, para ayudar el presidente en casos de que este por
        ausencia no pueda realizar sus funciones.
      </p>
      <p>
        Dicha Vicepresidencia no será computable a efectos de no salir elegido
        otro año como presidente, excepto en caso de salir 2 años consecutivos
        en dicho cargo de vicepresidente.
      </p>
    </li>
  </ol>
  <section class="note">
    Recordamos desde la presidencia que la norma más importante es
    <span>EL SENTIDO COMÚN</span>
  </section>
</section>
