.matches-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.match-article{
  padding: 30px;
  max-width: 900px;
  margin: 5px 15px;
}

.match-buttons{
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0 20px;
}

.no-matches-section{
  margin-top: 40px;
}
