.home-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
}

.info-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
}

.info-content{
  text-align: center;
}

.info-buttons{
  margin: 15px;
}

.next-match-button-section{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.confirm-button-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
