.my-balance-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.movement-table-card{
  padding: 15px;
  margin: 20px;
}

.movement-title-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

td.mat-mdc-footer-cell{
  border-top: 2px solid black;
}
