.update-password-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.update-password-title{
  margin-bottom: 40px;
}

.update-password-form{
  width: 300px;
  display: flex;
  flex-direction: column;
}

.submit-button{
  height: 50px;
}

.update-password-spinner{
  height: 30px !important;
  width: 30px !important;
}
