<section class="update-password-section">
  <h2 class="update-password-title">Actualiza tu contraseña</h2>
  <form class="update-password-form" [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Nueva contraseña</mat-label>
      <input matInput placeholder="Introduce la nueva contraseña" name="newPassword" formControlName="newPassword"
             type="password">
      <mat-error *ngIf="submitted && form.get('newPassword')?.errors?.['required']">Campo obligatorio</mat-error>
      <mat-error *ngIf="submitted && form.get('newPassword')?.errors?.['minlength']">Mínimo 8 caracteres</mat-error>
      <mat-error *ngIf="submitted && form.get('newPassword')?.errors?.['confirmedValidator']">Las contraseñas no
        coinciden
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Confirma la nueva contraseña</mat-label>
      <input matInput placeholder="Introduce de nuevo la contraseña" name="confirmNewPassword" type="password"
             formControlName="confirmNewPassword">
      <mat-error *ngIf="submitted && form.get('confirmNewPassword')?.errors?.['required']">Campo obligatorio</mat-error>
      <mat-error *ngIf="submitted && form.get('confirmNewPassword')?.errors?.['minlength']">Mínimo 8 caracteres
      </mat-error>
      <mat-error *ngIf="submitted && form.get('confirmNewPassword')?.errors?.['confirmedValidator']">Las contraseñas no
        coinciden
      </mat-error>
    </mat-form-field>
    <button mat-raised-button class="submit-button" color="primary" type="submit">
      <mat-spinner color="warn" *ngIf="(isLoading$ | async)" class="update-password-spinner"></mat-spinner>
      <span *ngIf="!(isLoading$ | async)">Actualizar</span>
    </button>
  </form>
</section>
