<section class="layout">
  <mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="mainMenu" [disabled]="(member$ | async) === null">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #mainMenu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="matchesMenu">
        <mat-icon>sports_soccer</mat-icon>
        <span>Partidos</span>
      </button>
      <button mat-menu-item>
        <mat-icon>groups</mat-icon>
        <span>Miembros</span>
      </button>
      <button mat-menu-item>
        <mat-icon>account_balance</mat-icon>
        <span>Balance</span>
      </button>
    </mat-menu>
    <mat-menu #matchesMenu="matMenu">
      <button mat-menu-item [routerLink]="'/matches/next-match'">
        Siguiente partido
      </button>
      <button mat-menu-item>
        Partidos anteriores
      </button>
    </mat-menu>
    <a class="team-name" [routerLink]="['/']">Peña Km/h</a>
    <span class="example-spacer"></span>
    <h6 *ngIf="(member$ | async) as member" class="member-name">{{member.name}}</h6>
    <button mat-icon-button [matMenuTriggerFor]="logMenu" [disabled]="(member$ | async) === null">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #logMenu="matMenu">
      <button mat-menu-item>
        <mat-icon>password</mat-icon>
        <span>Cambiar contraseña</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Salir</span>
      </button>
    </mat-menu>
  </mat-toolbar>
  <router-outlet class="layout-content"></router-outlet>
</section>
<footer class="footer">
    <a href="mailto:jtbenavente@gmail.com">Jaime Torres</a>
    <span>&copy;</span> 2023
</footer>

