<section class="balance-alert-section">
  <h1 mat-dialog-title>Balance negativo</h1>
  <div mat-dialog-content>
    <p>{{ data.name }} tienes una deuda sin pagar de:</p>
    <p class="balance">{{ data.balance * -1 }}€</p>
    <p class="notice">Debes abonarlo lo antes pronto posible</p>
  </div>
  <div class="dialog-action-buttons" mat-dialog-actions>
    <button mat-button mat-dialog-close>Aceptar</button>
    <button mat-button (click)="goToMyBalance()">Ir a mi balance</button>
  </div>
</section>
