.login-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 150px;
}

.login-form{
  width: 300px;
  display: flex;
  flex-direction: column;
}

.submit-button{
  height: 50px;
}

.login-spinner{
  height: 30px !important;
  width: 30px !important;
}
