<section class="members-section">
  <section *ngIf="isLoading$ | async">
    <mat-spinner></mat-spinner>
  </section>
  <section *ngIf="!(isLoading$ | async)" class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre</th>
        <td mat-cell *matCellDef="let member"> {{member.name}} </td>
      </ng-container>
      <ng-container matColumnDef="surname">
        <th mat-header-cell *matHeaderCellDef> Apellido</th>
        <td mat-cell *matCellDef="let member"> {{member.surname}} </td>
      </ng-container>
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Telefono</th>
        <td mat-cell *matCellDef="let member"> {{member?.phone}} </td>
      </ng-container>
      <ng-container matColumnDef="nCaptaincies">
        <th mat-header-cell *matHeaderCellDef> Capitanias</th>
        <td mat-cell *matCellDef="let member"> {{member.nCaptaincies}} </td>
      </ng-container>
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> Role</th>
        <td mat-cell *matCellDef="let member"> {{member.role == Role.ADMIN? 'Admin' : 'Usuario'}} </td>
      </ng-container>
      <ng-container matColumnDef="balance">
        <th mat-header-cell *matHeaderCellDef> Balance</th>
        <td mat-cell *matCellDef="let member"> {{member.balance}}€ </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
  </section>
</section>
